# COGS 108 - Data Checkpoint

# Names

- Ivan Chen 
- Leo Fleury
- Daniel Yoon   
- Fei He
- HaoTing Huang

# Research Question

What is the association between the amount of federal money a state receives for disaster relief and the factors, state GDP , number of disasters, and political leaning per year from 2017 to 2022?

## Background and Prior Work

The United States was born out of the colonies' desire to free from the tyranny of a government holding complete control over their commerce and rights. This wariness of a centralized governmental structure influences many aspects of how the government runs today, such as the separation of powers as labeled within the United States Constitution. The states can be considered, to an extent, nations within a nation. A study published in 2023 by smartasset<a name="cite_ref-1"></a>[<sup>1</sup>](#cite_note-1) displays one aspect of this relationship - the depth to which states receive their funding from the federal government. But after decades of peace and prosperity as a singular united nation on the world stage - how many maintain this level of self-sufficiency in disasters?

Another source we looked at was a data science project done by Money Geek that looked at which states were most reliant on federal aid. This project is relevant to ours because federal aid reduces the burden on a states budget and how much they can allocate towards disaster relief <a name="cite_ref-2"></a>[<sup>2</sup>](#cite_note-2). To compute this, the team at Money Geek did not just look at total federal aid, but looked at federal funding as a percentage of state revenue and return on tax dollars which was a statistic showing how much the state got back for every dollar that they gave the government. What we learned from the metrics used (such as aid as a percentage of state revenue and return on tax dollars) is that often a data set will require a lot of cleaning and development of our own metrics before we can get the answer to our question. Our question being the relation between GDP and a state's amount spent on disaster relief. From the Money Geek project, we also saw how others incorporate graphs into their findings. Money geek did a very good job about making the main findings visible in the titles of their graphs and throughout their paragraphs. For example, one of the main findings from the data set was that states that get the most in federal aid are often republican states. Then, they created a illustrative bar chart to display this. 

Lastly, another project we found relevant from economy.com looking at how natural disasters affect national GDP, which we also found relevant to our project as it relates to natural disasters and uses GDP as a metric. However, our project takes a different angle by using GDP as a measure of a states self sufficiency and seeing how that correlates to how much disaster relief aid that state gets. Some relevant take-aways from the source were that natural disasters only have a minor impact on national GDP but can be very impactful for local GDP. For example, from economy.com calculations, real GDP growth for New Orleans fell 20% at an annual rate in the third quarter of 2005 after Katrina <a name="cite_ref-3"></a>[<sup>3</sup>](#cite_note-3). 

1. <a name=\"cite_note-1\"></a> [^](#cite_ref-1) Jaclyn, D. (14 Apr. 2023)  Where Your Tax Dollars Go: States Most Dependent on the Federal Government – 2023 Study *smartasset* https://smartasset.com/data-studies/states-most-dependent-federal-government-2023 
2. <a name=\"cite_note-2\"></a> [^](#cite_ref-2) MoneyGeek. (n.d.). States Most Reliant on the Federal Government., from https://www.moneygeek.com/living/states-most-reliant-federal-government/
3. <a name=\"cite_note-3\"></a> [^](#cite_ref-3) Moody's Analytics. (n.d.). How Natural Disasters Affect US GDP. Economy.com., from https://www.economy.com/economicview/analysis/296804/How-Natural-Disasters-Affect-US-GDP

# Hypothesis

We predict that in the United States in 2022, states with lower Gross Domestic Product (GDP) and historical Republican inclinations will be associated with an increase in federal disaster relief funding (as a percentage of the state's GDP). Conversely, states with higher GDP and historical Democratic ties will receive a lower percentage of their GDP in federal disaster relief funding. This study aims to analyze data over the past two decades to investigate these relationships, employing statistical analysis methods to understand the impact of economic status and political affiliation on disaster relief funding.

# Data

## Data overview

For each dataset include the following information
- Dataset #1
  - Dataset Name: Gross Domestic Product (GDP) by state
  - Link to the dataset: https://usafacts.org/metrics/gross-domestic-product-gdp-by-state/?adjustment=None&timeGranularity=Yearly
  - Number of observations: 45
  - Number of variables: 51
- Dataset #2 
  - Dataset Name:
  - Link to the dataset: https://www.bea.gov/data/gdp/gdp-state
  - Number of observations:
  - Number of variables:
- Dataset #3
  - Dataset Name: Emergency Management Performance Grants
  - Link to dataset: https://www.fema.gov/openfema-data-page/emergency-management-performance-grants-v2
  - Number of observations: 19615
  - Number of variables: 9
- Dataset #4
  - Dataset Name: Public Assistance Funded Projects Detail
  - Link to dataset: https://www.fema.gov/openfema-data-page/public-assistance-funded-projects-details-v1
  - Number of observations: 805,572
  - Number of variables: 22


For our first dataset, GDP by state, is a dataset that gives us each states, GDP by year. The dataset includes data from 1977 - 2022, with the GDP of each state per year. The states are organized by alphabetical order and the year from 2022 down to 1977. As for data, majority of it are integers, which simplifies it a little. As for cleaning the dataset, we want to extract data from 2017 to 2022 only, which means we need to filter more than half the dataset.

The second dataset by BEA, it is a dataset that provides the GDP by each state, seperated by region from most to least. This dataset includes each states GDP by quarter and takes inflation into account (2017 Dollar value). This dataset has many tables with valuable information, but we are focused on Tables 1, 3, and 5. Table 2 includes data about the Personal Income per state in the same format as Table 1. A few important varaibles in this dataset would include States, Regions, Quarters, and Total. These are the main variables that will help us analyze the data. Since the data is already well organized, the only things we would need to do is find missing data, if there is any, and understand why it may be missing. 

Our third dataset, Emergency Managment Performance Grants, is a detailed dataset of emergency funding each state as received. This dataset inlcudes every agency that has provided a specific state emergency funding. The data variables includes states, id, agency name, closing and opening date, and more. We are mainly looking for state, amount and reporting period (2017-2022), so we can focus on extracting those variables out. With the large amount of agency's in each state, it would be best to combine it all under the state, where we have the total number of funding per state. 

Our last dataset, Public Assistance Funded Projects Detail, is another very detailed dataset that has information about emergency funding. To be more exact, it has information about what kind of natural disasters, which county and it's county code, project amount, federal share obligated, total obligated, and more. For this project, knowing what specific natural disaster and how much a state got because of that isn't our main goal, so we would have to sort it by year, maintaining our goal of finding data from 2017-2022.


With our datasets, it would be useful to look at them and understand if a state with a higher GDP gets more emergency funding overall. We want to see the relationships between the two and with the information we have, it would help prove our research question.

### Dataset #1 Emergency Management Performance Grants

In [35]:
import pandas as pd
pd.set_option('display.max_rows', 10)

url = 'Data/EmergencyManagementPerformanceGrants.csv'
df = pd.read_csv(url)
df['state'].unique()
df_not_state = df['state'].str.contains('Puerto Rico|American Samoa|District of Columbia|Northern Mariana Islands|Guam|Virgin Islands')
df = df[~df_not_state] #filter to only include US states
df['state'].unique().size #check to see that our state column only has 50 values

def standardize_reportingPeriod(string):
    
    string = string.lower().strip()
    
    if '2014' in string:
        output = 2014
    elif '2015' in string:
        output = 2015
    elif '2016' in string:
        output = 2016
    elif '2017' in string:
        output = 2017
    elif '2018' in string:
        output = 2018
    elif '2019' in string:
        output = 2019
    elif '2020' in string:
        output = 2020
    elif '2021' in string:
        output = 2021
    elif '2022' in string:
        output = 2022
    # Otherwise, if uncaught - keep as is
    else:
        output = string
    
    return output

df['reportingPeriod'] = df['reportingPeriod'].apply(standardize_reportingPeriod)
df = df.query('reportingPeriod >= 2019') #filter so lowest year is 2017 to match other data

df_grouped = df.groupby(by = ['state', 'reportingPeriod']).sum()
df_grouped = df_grouped.reset_index()
df_grouped = df_grouped.rename(columns = {'reportingPeriod': 'year', 'fundingAmount' : 'funding'})
pd.set_option('display.max_rows', 10)
df_grouped['funding'] = df_grouped['funding'].astype(int)

us_state_to_abbrev = {
    "Alabama": "AL", "Alaska": "AK", "Arizona": "AZ", "Arkansas": "AR", "California": "CA",
    "Colorado": "CO", "Connecticut": "CT", "Delaware": "DE", "Florida": "FL", "Georgia": "GA",
    "Hawaii": "HI", "Idaho": "ID", "Illinois": "IL", "Indiana": "IN", "Iowa": "IA",
    "Kansas": "KS", "Kentucky": "KY", "Louisiana": "LA", "Maine": "ME", "Maryland": "MD",
    "Massachusetts": "MA", "Michigan": "MI", "Minnesota": "MN", "Mississippi": "MS", "Missouri": "MO",
    "Montana": "MT", "Nebraska": "NE", "Nevada": "NV", "New Hampshire": "NH", "New Jersey": "NJ",
    "New Mexico": "NM", "New York": "NY", "North Carolina": "NC", "North Dakota": "ND", "Ohio": "OH",
    "Oklahoma": "OK", "Oregon": "OR", "Pennsylvania": "PA", "Rhode Island": "RI", "South Carolina": "SC",
    "South Dakota": "SD", "Tennessee": "TN", "Texas": "TX", "Utah": "UT", "Vermont": "VT",
    "Virginia": "VA", "Washington": "WA", "West Virginia": "WV", "Wisconsin": "WI", "Wyoming": "WY",
}

df_grouped['state'] = df_grouped['state'].str.lower().str.capitalize().map(us_state_to_abbrev)
EMPG = df_grouped #naming to something we will remember
EMPG['year'] = EMPG['year'].astype(int) # change to integers
EMPG

    state  year  funding
0      AL  2019  5728503
1      AL  2020  5810021
2      AL  2021  7446681
3      AL  2022  6681181
4      AK  2019  3093229
..    ...   ...      ...
195    WI  2022  7311711
196    WY  2019  2991828
197    WY  2020  3033266
198    WY  2021  3889834
199    WY  2022  3455841

[200 rows x 3 columns]

### Dataset #2 Disaster Declarations by State

In [14]:
url2 = 'Data/DisasterDeclarationsSummaries.csv'
df2= pd.read_csv(url2)

df2 = df2.query('2023 > fyDeclared >= 2019 ') # make sure to include equals so 2017 included
df2.sort_values(by = 'fyDeclared', ascending = True) # set to true so make sure have correct info
df2 = df2.groupby(by = ['state', 'fyDeclared']).size().reset_index(name= 'disasters') # use size for num of disasters instead of sum & give column name
df2 = df2.rename(columns={'fyDeclared': 'year'})
valid_states = ['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 
                'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 
                'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 
                'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 
                'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY']

# Filter the DataFrame to only include rows where the state code is in the list of valid states
df2 = df2[df2['state'].isin(valid_states)]
df2

# states didnt have disasters every year so we need to create columns with 0 for years no disasters were declared
import itertools

years = [2019, 2020, 2021, 2022]
combinations = list(itertools.product(valid_states, years)) # Use itertools.product to get all combinations of states and years -- this works like a double sum where the valid states is fixed and its looking at all the states to match
combinations
df2_combinations = pd.DataFrame(combinations, columns=['state', 'year'])
df2_combinations
df2_merged = pd.merge(df2_combinations, df2, on = ['state', 'year'], how = 'left')# how on left so that df2_combinations has all rows saved and df2 added -- state and year pairs will get na values
df2_merged['disasters'].fillna(0, inplace= True) #in place so a new data frame is not created and old one is kept
df2_merged['disasters'] = df2_merged['disasters'].astype(int) # astype converts to a integer
disasters =  df2_merged #naming to something we will remember
disasters['year'] = disasters['year'].astype(int) # change to integers
disasters

    state  year  disasters
0      AL  2019         36
1      AL  2020        257
2      AL  2021         30
3      AL  2022          2
4      AK  2019          9
..    ...   ...        ...
195    WI  2022          0
196    WY  2019          0
197    WY  2020         51
198    WY  2021          0
199    WY  2022          0

[200 rows x 3 columns]

### Dataset #3 State Historical Political Leaning

In [24]:
url3 = 'Data/1976-2022-house.csv'
election_data= pd.read_csv(url3)

elections_post_2017 = election_data[election_data['year'] > 2019]
relevant_elections = elections_post_2017[elections_post_2017['party'].isin(['DEMOCRAT', 'REPUBLICAN'])]
grouped_elections = relevant_elections.groupby(['state', 'year', 'party'])['candidatevotes'].sum().reset_index()
winning_party = grouped_elections.sort_values('candidatevotes', ascending=False).drop_duplicates(['state', 'year'])
winning_party = winning_party.sort_values(by = 'state')
winning_party = winning_party.drop(columns= 'candidatevotes')


#df.reindex -- confrom DF to a new index w. optional filling -- places NA in locastions having no value in teh previous index
# we reindex the winning_party data frame to do this
# we use pd.MultiIndex.from_product instead of iterools.prodcut(state, year) bcs it returns a list instead of a multiindex
winning_party_indexed = winning_party.set_index(['state', 'year'])
state = winning_party_indexed.index.levels[0]
year = [2019,2020,2021,2022]
multi_index = pd.MultiIndex.from_product([state, year])
winning_party_indexed = winning_party_indexed.reindex(multi_index)
winning_party_indexed_filled = winning_party_indexed.groupby(level=0).fillna(method='ffill').fillna(method='bfill').reset_index()
winning_party_indexed_filled = winning_party_indexed_filled.rename(columns = {'level_1' : 'year'})

#the rest of our data tables use state postal codes instead of the full names
#using a dictionary I found on GitHub we can map these states to their postal codes
us_state_to_abbrev = {
    "Alabama": "AL", "Alaska": "AK", "Arizona": "AZ", "Arkansas": "AR", "California": "CA",
    "Colorado": "CO", "Connecticut": "CT", "Delaware": "DE", "Florida": "FL", "Georgia": "GA",
    "Hawaii": "HI", "Idaho": "ID", "Illinois": "IL", "Indiana": "IN", "Iowa": "IA",
    "Kansas": "KS", "Kentucky": "KY", "Louisiana": "LA", "Maine": "ME", "Maryland": "MD",
    "Massachusetts": "MA", "Michigan": "MI", "Minnesota": "MN", "Mississippi": "MS", "Missouri": "MO",
    "Montana": "MT", "Nebraska": "NE", "Nevada": "NV", "New Hampshire": "NH", "New Jersey": "NJ",
    "New Mexico": "NM", "New York": "NY", "North Carolina": "NC", "North Dakota": "ND", "Ohio": "OH",
    "Oklahoma": "OK", "Oregon": "OR", "Pennsylvania": "PA", "Rhode Island": "RI", "South Carolina": "SC",
    "South Dakota": "SD", "Tennessee": "TN", "Texas": "TX", "Utah": "UT", "Vermont": "VT",
    "Virginia": "VA", "Washington": "WA", "West Virginia": "WV", "Wisconsin": "WI", "Wyoming": "WY",
}

winning_party_indexed_filled['state'] = winning_party_indexed_filled['state'].str.lower().str.capitalize().map(us_state_to_abbrev)
state_political_leaning = winning_party_indexed_filled #naming to something will actually remember
state_political_leaning['year'] = state_political_leaning['year'].astype('int32')
state_political_leaning

    state  year       party
0      AL  2019  REPUBLICAN
1      AL  2020  REPUBLICAN
2      AL  2021  REPUBLICAN
3      AL  2022  REPUBLICAN
4      AK  2019  REPUBLICAN
..    ...   ...         ...
199    WI  2022  REPUBLICAN
200    WY  2019  REPUBLICAN
201    WY  2020  REPUBLICAN
202    WY  2021  REPUBLICAN
203    WY  2022  REPUBLICAN

[204 rows x 3 columns]

### Dataset #4 GDP by State

In [4]:
# Log onto the BEA website (Bureau of Economic Analysis), the official site for government data.
# Navigate to the "Data" section, select "GDP," and then choose "GDP by State."
# Go to "Interactive Data" and select "Interactive Tables: GDP by State."
# Choose "ANNUAL GROSS DOMESTIC PRODUCT (GDP) BY STATE," then "SAGDP2 GDP in current dollars."
# Select the United States, and view all statistics in the table.
# In the resulting table, select the first row's line code where the description is "all industry total."
# The resulting table displays the GDP by state in millions of current dollars, with data collected from 2017 to 2022.

url4 =  "Data/GDP by state (2017-2022).csv"

df4 = pd.read_csv(url4, skiprows = 3) #skip first 3 rows because they are a description
df4 = df4.drop(columns = ['GeoFips', '2017', '2018'])
df4 = df4.rename(columns= {'GeoName': 'state'})
df4_bad_GeoName = df4['state'].str.contains('District of Columbia|New England|nited States *|Mideast|Great Lakes|Plains|Southeast|Southwest|nan|Rocky Mountain|Far West').fillna(False) #dealing with NA values
df4 = df4[~ df4_bad_GeoName] #this removes all the regions and territories we don't care about 
indexes_to_drop = df4.iloc[-4:].index #get the last 4 rows index using iloc
df4 = df4.drop(indexes_to_drop)
melted_df = pd.melt(df4, id_vars=['state'], value_vars=['2019', '2020', '2021', '2022'], var_name='year', value_name='amount')
melted_df = melted_df.sort_values('state')
melted_df

#using the same code I used on the state leaning dat set we change the years to their postal codes

us_state_to_abbrev = {
    "Alabama": "AL", "Alaska": "AK", "Arizona": "AZ", "Arkansas": "AR", "California": "CA",
    "Colorado": "CO", "Connecticut": "CT", "Delaware": "DE", "Florida": "FL", "Georgia": "GA",
    "Hawaii": "HI", "Idaho": "ID", "Illinois": "IL", "Indiana": "IN", "Iowa": "IA",
    "Kansas": "KS", "Kentucky": "KY", "Louisiana": "LA", "Maine": "ME", "Maryland": "MD",
    "Massachusetts": "MA", "Michigan": "MI", "Minnesota": "MN", "Mississippi": "MS", "Missouri": "MO",
    "Montana": "MT", "Nebraska": "NE", "Nevada": "NV", "New Hampshire": "NH", "New Jersey": "NJ",
    "New Mexico": "NM", "New York": "NY", "North Carolina": "NC", "North Dakota": "ND", "Ohio": "OH",
    "Oklahoma": "OK", "Oregon": "OR", "Pennsylvania": "PA", "Rhode Island": "RI", "South Carolina": "SC",
    "South Dakota": "SD", "Tennessee": "TN", "Texas": "TX", "Utah": "UT", "Vermont": "VT",
    "Virginia": "VA", "Washington": "WA", "West Virginia": "WV", "Wisconsin": "WI", "Wyoming": "WY",
}

melted_df
melted_df['state'] = melted_df['state'].map(us_state_to_abbrev)
gdp_by_state = melted_df.rename(columns = {'amount': 'GDP'})
gdp_by_state #naming to something we will remember
gdp_by_state['year'] = gdp_by_state['year'].astype(int) # change to integers
gdp_by_state

    state  year       GDP
0      AL  2019  234526.4
50     AL  2020  235118.3
150    AL  2022  281569.0
100    AL  2021  257986.5
151    AK  2022   65698.8
..    ...   ...       ...
48     WI  2019  347398.6
99     WY  2020   36675.5
49     WY  2019   39971.4
149    WY  2021   42176.2
199    WY  2022   49080.6

[200 rows x 3 columns]

### Merged Data Set

In [40]:
#the data sets we have now are EMPG, disasters, state_political_leaning, & gdp_by_state 
#we have individually pre procesesed every data frame so that merging will be a smooth process
pd.set_option('display.max_rows', None)

# EMPG['state'] = EMPG['state'].str.strip()
# disasters['state'] = disasters['state'].str.strip()
# state_political_leaning['state'] = state_political_leaning['state'].str.strip()
# gdp_by_state['state'] = gdp_by_state['state'].str.strip()


# master_df = disasters.merge(EMPG)
# master_df = master_df.merge(state_political_leaning)
# master_df = master_df.merge(gdp_by_state)
# master_df

# print(EMPG['state'].unique())
# print(len(disasters['state'].unique()))
# print(state_political_leaning['state'].unique())
# print(len(gdp_by_state['state'].unique()))

# print(EMPG['year'].unique())
# print(disasters['year'].unique())
# print(state_political_leaning['year'].unique())
# print(gdp_by_state['year'].unique())

df_grouped

    state  year   funding
0      AL  2019   5728503
1      AL  2020   5810021
2      AL  2021   7446681
3      AL  2022   6681181
4      AK  2019   3093229
5      AK  2020   3132103
6      AK  2021   4011830
7      AK  2022   3569365
8      AZ  2019   7178562
9      AZ  2020   7334955
10     AZ  2021   9495825
11     AZ  2022   8223874
12     AR  2019   4538597
13     AR  2020   4599731
14     AR  2021   5896620
15     AR  2022   5221502
16     CA  2019  27741329
17     CA  2020  28026736
18     CA  2021  35682527
19     CA  2022  31711205
20     CO  2019   6241339
21     CO  2020   6359228
22     CO  2021   8173089
23     CO  2022   7224682
24     CT  2019   4893426
25     CT  2020   4951179
26     CT  2021   6328179
27     CT  2022   5652584
28     DE  2019   3239095
29     DE  2020   3287592
30     DE  2021   4221388
31     DE  2022   3755425
32     FL  2019  16148783
33     FL  2020  16449788
34     FL  2021  21227302
35     FL  2022  18657311
36     GA  2019   9304231
37     GA  2020   9478184
38     GA  2021  12191504
39     GA  2022  10805934
40     HI  2019   3526926
41     HI  2020   3571396
42     HI  2021   4565823
43     HI  2022   4092884
44     ID  2019   3738816
45     ID  2020   3805773
46     ID  2021   4910021
47     ID  2022   4371247
48     IL  2019  10714815
49     IL  2020  10796972
50     IL  2021  13730502
51     IL  2022  12329319
52     IN  2019   6873938
53     IN  2020   6984140
54     IN  2021   8932441
55     IN  2022   7955682
56     IA  2019   4628961
57     IA  2020   4687846
58     IA  2021   6005672
59     IA  2022   5351202
60     KS  2019   4473630
61     KS  2020   4532655
62     KS  2021   5800947
63     KS  2022   5168094
64     KY  2019   5462165
65     KY  2020   5530451
66     KY  2021   7082504
67     KY  2022   6305199
68     LA  2019   5583804
69     LA  2020   5646719
70     LA  2021   7220269
71     LA  2022   6415373
72     ME  2019   3474806
73     ME  2020   3525395
74     ME  2021   4519211
75     ME  2022   4025503
76     MD  2019   6461761
77     MD  2020   6543427
78     MD  2021   8376441
79     MD  2022   7517313
80     MA  2019   7007447
81     MA  2020   7087032
82     MA  2021   9063165
83     MA  2022   8135699
84     MI  2019   8971802
85     MI  2020   9073402
86     MI  2021  11582088
87     MI  2022  10345728
88     MN  2019   6187758
89     MN  2020   6282770
90     MN  2021   8049824
91     MN  2022   7175934
92     MS  2019   4521266
93     MS  2020   4572833
94     MS  2021   5835046
95     MS  2022   5185063
96     MO  2019   6514927
97     MO  2020   6602323
98     MO  2021   8454926
99     MO  2022   7501134
100    MT  2019   3299499
101    MT  2020   3348585
102    MT  2021   4298249
103    MT  2022   3823796
104    NE  2019   3849969
105    NE  2020   3904262
106    NE  2021   5000711
107    NE  2022   4460012
108    NV  2019   4551655
109    NV  2020   4639757
110    NV  2021   5984930
111    NV  2022   5289011
112   NaN  2019   3486269
113   NaN  2020   3535345
114   NaN  2021   4532436
115   NaN  2022   4036504
116   NaN  2019   8281372
117   NaN  2020   8364279
118   NaN  2021  10693382
119   NaN  2022   9774016
120   NaN  2019   3955470
121   NaN  2020   4008525
122   NaN  2021   5139050
123   NaN  2022   4573158
124   NaN  2019  15033121
125   NaN  2020  15150401
126   NaN  2021  19262861
127   NaN  2022  17687743
128   NaN  2019   9211806
129   NaN  2020   9395156
130   NaN  2021  12101967
131   NaN  2022  10608296
132   NaN  2019   3107603
133   NaN  2020   3151693
134   NaN  2021   4039824
135   NaN  2022   3602510
136    OH  2019  10047089
137    OH  2020  10166130
138    OH  2021  12997432
139    OH  2022  11594633
140    OK  2019   5128617
141    OK  2020   5202614
142    OK  2021   6675549
143    OK  2022   5908881
144    OR  2019   5285848
145    OR  2020   5370008
146    OR  2021   6889265
147    OR  2022   6110421
148    PA  2019  10756709
149    PA  2020  10880531
150    PA  2021  13890936
151    PA  2022  12467250
152   NaN  2019   3296330
153   NaN  2020   3342540
154   NaN  2021   4279026
155   NaN  2022   3833335
156   NaN  2019   5853113
157   NaN  2020   5967634
158   NaN  2021   7689729
159   NaN  2022   6749457
160   NaN  2019   3185166
161   NaN  2020   3230393
162   NaN  2021   4144260
163   NaN  2022   3680524
164    TN  2019   6923547
165    TN  2020   7046379
166    TN  2021   9057640
167    TN  2022   8049343
168    TX  2019  20563652
169    TX  2020  21275940
170    TX  2021  27479523
171    TX  2022  24174249
172    UT  2019   4632111
173    UT  2020   4720513
174    UT  2021   6076427
175    UT  2022   5410125
176    VT  2019   3022662
177    VT  2020   3063060
178    VT  2021   3923458
179    VT  2022   3503868
180    VA  2019   8033214
181    VA  2020   8140854
182    VA  2021  10454187
183    VA  2022   9297114
184    WA  2019   7409645
185    WA  2020   7550758
186    WA  2021   9718956
187    WA  2022   8625483
188   NaN  2019   3771594
189   NaN  2020   3812940
190   NaN  2021   4875490
191   NaN  2022   4338329
192    WI  2019   6316264
193    WI  2020   6400118
194    WI  2021   8193529
195    WI  2022   7311711
196    WY  2019   2991828
197    WY  2020   3033266
198    WY  2021   3889834
199    WY  2022   3455841

# Ethics & Privacy

Our data is sourced from governmental agencies and nonprofit organizations such as USA Facts, FEMA, and BEA.gov. These sources aim to provide a strictly non-partisan outlook on the actions of the federal government in an effort to promote a pillar of government so necessary to any government's foundation - transparency. These sources do not contain any private data, as any data determined to be accessible to the public by the Freedom of Information act forgoes data which would be deemed a breach of privacy. Our research does not aim to harm any particular population within a county or state, as it is focused on compiling and analyzing the financial aspect of the relationship between state and federal governments. Moreover, decisions on federal funding are guided by uniform, pre-established standards, and commitments, all found within the constitution of the United States. Our compilation of statistical information lacks sufficient means to overturn the nature of this centuries old relation. Electoral data analyzed is on a strictly state-level basis, meaning that we do not utilize a voter's personal information.

# Team Expectations


* *Be Communicative* - Communicate any difficulties ahead of time! If assistance is needed, or maybe if a team member is unable to do/finish what they need to do, communicating it ahead of time will allow others to help expedite the process.

* *Contribute Fairly* - Uphold the responsibilities assigned or taken up by each individual group member, but also keep in mind to make key decisions as a group. 

* *Communication Guideline* - Communicate primarily through Discord and attend scheduled weekly/bi-weekly calls. Most, if not all calls will be virtual, but be present and be involved in the project.

# Project Timeline Proposal

| Meeting Date | Meeting Time | Completed Before Meeting      | Discuss at Meeting                                                                 |
|--------------|--------------|-------------------------------|------------------------------------------------------------------------------------|
| 2/4          | 6 PM         | Read Previous COGS 108 Projects | Discussed the strengths and weaknesses of two COGS 108 projects made by previous groups and noted things to keep and leave in our projects. |
| 2/8          | 3 PM         | Research Question              | Discuss hypothesis, research question, project timeline proposal                   |
| 2/11         | 6 PM         | Work on Project Proposal       | Discuss hypothesis, research question, project timeline proposal                   |
| 2/19         | 7 PM         | Find Relevant Data             | Choose which data we found best fits our research purposes                         |
| 2/22         | 8:30 PM      | Categorize Relevant Data       | Discuss what kind of further questions we want to ask within our research question |
| 3/4          | 7 PM         | Work on individual categories  | Review and discuss progress                                                        |
| 3/7          | 7 PM         | Work on individual categories  | Review and discuss progress                                                        |
| 3/14         | 7 PM         | Work on individual categories  | Review and discuss progress                                                        |
| 3/17         | 7 PM         | Work on individual categories  | Review and discuss progress                                                        |
| 3/20         | Before 11:59