**If you lost points on the last checkpoint you can get them back by responding to TA/IA feedback**  

Update/change the relevant sections where you lost those points, make sure you respond on GitHub Issues to your TA/IA to call their attention to the changes you made here.

Please update your Timeline... no battle plan survives contact with the enemy, so make sure we understand how your plans have changed.

# COGS 108 - EDA Checkpoint

# Names

- Ant Man
- Hulk
- Iron Man
- Thor
- Wasp

# Research Question

-  Include a specific, clear data science question.
-  Make sure what you're measuring (variables) to answer the question is clear

What is your research question? Include the specific question you're setting out to answer. This question should be specific, answerable with data, and clear. A general question with specific subquestions is permitted. (1-2 sentences)

## Background and Prior Work


- Include a general introduction to your topic
- Include explanation of what work has been done previously
- Include citations or links to previous work

This section will present the background and context of your topic and question in a few paragraphs. Include a general introduction to your topic and then describe what information you currently know about the topic after doing your initial research. Include references to other projects who have asked similar questions or approached similar problems. Explain what others have learned in their projects.

Find some relevant prior work, and reference those sources, summarizing what each did and what they learned. Even if you think you have a totally novel question, find the most similar prior work that you can and discuss how it relates to your project.

References can be research publications, but they need not be. Blogs, GitHub repositories, company websites, etc., are all viable references if they are relevant to your project. It must be clear which information comes from which references. (2-3 paragraphs, including at least 2 references)

 **Use inline citation through HTML footnotes to specify which references support which statements** 

For example: After government genocide in the 20th century, real birds were replaced with surveillance drones designed to look just like birds.<a name="cite_ref-1"></a>[<sup>1</sup>](#cite_note-1) Use a minimum of 2 or 3 citations, but we prefer more.<a name="cite_ref-2"></a>[<sup>2</sup>](#cite_note-2) You need enough to fully explain and back up important facts. 

Note that if you click a footnote number in the paragraph above it will transport you to the proper entry in the footnotes list below.  And if you click the ^ in the footnote entry, it will return you to the place in the main text where the footnote is made.

To understand the HTML here, `<a name="#..."> </a>` is a tag that allows you produce a named reference for a given location.  Markdown has the construciton `[text with hyperlink](#named reference)` that will produce a clickable link that transports you the named reference.

1. <a name="cite_note-1"></a> [^](#cite_ref-1) Lorenz, T. (9 Dec 2021) Birds Aren’t Real, or Are They? Inside a Gen Z Conspiracy Theory. *The New York Times*. https://www.nytimes.com/2021/12/09/technology/birds-arent-real-gen-z-misinformation.html 
2. <a name="cite_note-2"></a> [^](#cite_ref-2) Also refs should be important to the background, not some randomly chosen vaguely related stuff. Include a web link if possible in refs as above.

# Hypothesis


- Include your team's hypothesis
- Ensure that this hypothesis is clear to readers
- Explain why you think this will be the outcome (what was your thinking?)

What is your main hypothesis/predictions about what the answer to your question is? Briefly explain your thinking. (2-3 sentences)

# Data

## Data overview

For each dataset include the following information
- Dataset #1
  - Dataset Name:
  - Link to the dataset:
  - Number of observations:
  - Number of variables:
- Dataset #2 (if you have more than one!)
  - Dataset Name:
  - Link to the dataset:
  - Number of observations:
  - Number of variables:
- etc

Now write 2 - 5 sentences describing each dataset here. Include a short description of the important variables in the dataset; what the metrics and datatypes are, what concepts they may be proxies for. Include information about how you would need to wrangle/clean/preprocess the dataset

If you plan to use multiple datasets, add a few sentences about how you plan to combine these datasets.

### Dataset #1 Emergency Management Performance Grants

In [1]:
import pandas as pd
pd.set_option('display.max_rows', 10)

url = 'Data/EmergencyManagementPerformanceGrants.csv'
df = pd.read_csv(url)
df['state'].unique()
df_not_state = df['state'].str.contains('Puerto Rico|American Samoa|District of Columbia|Northern Mariana Islands|Guam|Virgin Islands')
df = df[~df_not_state] #filter to only include US states
df['state'].unique().size #check to see that our state column only has 50 values

def standardize_reportingPeriod(string):
    
    string = string.lower().strip()
    
    if '2014' in string:
        output = 2014
    elif '2015' in string:
        output = 2015
    elif '2016' in string:
        output = 2016
    elif '2017' in string:
        output = 2017
    elif '2018' in string:
        output = 2018
    elif '2019' in string:
        output = 2019
    elif '2020' in string:
        output = 2020
    elif '2021' in string:
        output = 2021
    elif '2022' in string:
        output = 2022
    # Otherwise, if uncaught - keep as is
    else:
        output = string
    
    return output

df['reportingPeriod'] = df['reportingPeriod'].apply(standardize_reportingPeriod)
df = df.query('reportingPeriod >= 2019') #filter so lowest year is 2017 to match other data

df_grouped = df.groupby(by = ['state', 'reportingPeriod']).sum()
df_grouped = df_grouped.reset_index()
df_grouped = df_grouped.rename(columns = {'reportingPeriod': 'year', 'fundingAmount' : 'funding'})
df_grouped['funding'] = df_grouped['funding'].astype(int)

us_state_to_abbrev = {
    "Alabama": "AL", "Alaska": "AK", "Arizona": "AZ", "Arkansas": "AR", "California": "CA",
    "Colorado": "CO", "Connecticut": "CT", "Delaware": "DE", "Florida": "FL", "Georgia": "GA",
    "Hawaii": "HI", "Idaho": "ID", "Illinois": "IL", "Indiana": "IN", "Iowa": "IA",
    "Kansas": "KS", "Kentucky": "KY", "Louisiana": "LA", "Maine": "ME", "Maryland": "MD",
    "Massachusetts": "MA", "Michigan": "MI", "Minnesota": "MN", "Mississippi": "MS", "Missouri": "MO",
    "Montana": "MT", "Nebraska": "NE", "Nevada": "NV", "New hampshire": "NH", "New jersey": "NJ",
    "New mexico": "NM", "New york": "NY", "North carolina": "NC", "North dakota": "ND", "Ohio": "OH",
    "Oklahoma": "OK", "Oregon": "OR", "Pennsylvania": "PA", "Rhode island": "RI", "South carolina": "SC",
    "South dakota": "SD", "Tennessee": "TN", "Texas": "TX", "Utah": "UT", "Vermont": "VT",
    "Virginia": "VA", "Washington": "WA", "West virginia": "WV", "Wisconsin": "WI", "Wyoming": "WY"
}

df_grouped['state'] = df_grouped['state'].str.lower().str.capitalize().map(us_state_to_abbrev)
EMPG = df_grouped #naming to something we will remember
EMPG['year'] = EMPG['year'].astype(int) # change to integers
EMPG

C:\Users\leofl\AppData\Local\Temp\ipykernel_13096\558211804.py:42: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_grouped = df.groupby(by = ['state', 'reportingPeriod']).sum()

    state  year  funding
0      AL  2019  5728503
1      AL  2020  5810021
2      AL  2021  7446681
3      AL  2022  6681181
4      AK  2019  3093229
..    ...   ...      ...
195    WI  2022  7311711
196    WY  2019  2991828
197    WY  2020  3033266
198    WY  2021  3889834
199    WY  2022  3455841

[200 rows x 3 columns]

### Dataset #2 Disaster Declarations by State

In [12]:
url2 = 'Data/DisasterDeclarationsSummaries.csv'
df2= pd.read_csv(url2)

df2 = df2.query('2023 > fyDeclared >= 2019 ') # make sure to include equals so 2017 included
df2.sort_values(by = 'fyDeclared', ascending = True) # set to true so make sure have correct info
df2 = df2.groupby(by = ['state', 'fyDeclared']).size().reset_index(name= 'disasters') # use size for num of disasters instead of sum & give column name
df2 = df2.rename(columns={'fyDeclared': 'year'})
valid_states = ['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 
                'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 
                'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 
                'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 
                'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY']

# Filter the DataFrame to only include rows where the state code is in the list of valid states
df2 = df2[df2['state'].isin(valid_states)]
df2

# states didnt have disasters every year so we need to create columns with 0 for years no disasters were declared
import itertools

years = [2019, 2020, 2021, 2022]
combinations = list(itertools.product(valid_states, years)) # Use itertools.product to get all combinations of states and years -- this works like a double sum where the valid states is fixed and its looking at all the states to match
combinations
df2_combinations = pd.DataFrame(combinations, columns=['state', 'year'])
df2_combinations
df2_merged = pd.merge(df2_combinations, df2, on = ['state', 'year'], how = 'left')# how on left so that df2_combinations has all rows saved and df2 added -- state and year pairs will get na values
df2_merged['disasters'].fillna(0, inplace= True) #in place so a new data frame is not created and old one is kept
df2_merged['disasters'] = df2_merged['disasters'].astype(int) # astype converts to a integer
disasters =  df2_merged #naming to something we will remember
disasters['year'] = disasters['year'].astype(int) # change to integers
disasters

    state  year  disasters
0      AL  2019         36
1      AL  2020        257
2      AL  2021         30
3      AL  2022          2
4      AK  2019          9
..    ...   ...        ...
195    WI  2022          0
196    WY  2019          0
197    WY  2020         51
198    WY  2021          0
199    WY  2022          0

[200 rows x 3 columns]

### Dataset #3 State Historical Political Leaning

In [2]:
url3 = 'Data/1976-2022-house.csv'
election_data= pd.read_csv(url3)

elections_post_2017 = election_data[election_data['year'] > 2019]
relevant_elections = elections_post_2017[elections_post_2017['party'].isin(['DEMOCRAT', 'REPUBLICAN'])]
grouped_elections = relevant_elections.groupby(['state', 'year', 'party'])['candidatevotes'].sum().reset_index()
winning_party = grouped_elections.sort_values('candidatevotes', ascending=False).drop_duplicates(['state', 'year'])
winning_party = winning_party.sort_values(by = 'state')
winning_party = winning_party.drop(columns= 'candidatevotes')


#df.reindex -- confrom DF to a new index w. optional filling -- places NA in locastions having no value in teh previous index
# we reindex the winning_party data frame to do this
# we use pd.MultiIndex.from_product instead of iterools.prodcut(state, year) bcs it returns a list instead of a multiindex
winning_party_indexed = winning_party.set_index(['state', 'year'])
state = winning_party_indexed.index.levels[0]
year = [2019,2020,2021,2022]
multi_index = pd.MultiIndex.from_product([state, year])
winning_party_indexed = winning_party_indexed.reindex(multi_index)
winning_party_indexed_filled = winning_party_indexed.groupby(level=0).fillna(method='ffill').fillna(method='bfill').reset_index()
winning_party_indexed_filled = winning_party_indexed_filled.rename(columns = {'level_1' : 'year'})

#the rest of our data tables use state postal codes instead of the full names
#using a dictionary I found on GitHub we can map these states to their postal codes
us_state_to_abbrev = {
    "Alabama": "AL", "Alaska": "AK", "Arizona": "AZ", "Arkansas": "AR", "California": "CA",
    "Colorado": "CO", "Connecticut": "CT", "Delaware": "DE", "Florida": "FL", "Georgia": "GA",
    "Hawaii": "HI", "Idaho": "ID", "Illinois": "IL", "Indiana": "IN", "Iowa": "IA",
    "Kansas": "KS", "Kentucky": "KY", "Louisiana": "LA", "Maine": "ME", "Maryland": "MD",
    "Massachusetts": "MA", "Michigan": "MI", "Minnesota": "MN", "Mississippi": "MS", "Missouri": "MO",
    "Montana": "MT", "Nebraska": "NE", "Nevada": "NV", "New hampshire": "NH", "New jersey": "NJ",
    "New mexico": "NM", "New york": "NY", "North carolina": "NC", "North dakota": "ND", "Ohio": "OH",
    "Oklahoma": "OK", "Oregon": "OR", "Pennsylvania": "PA", "Rhode island": "RI", "South carolina": "SC",
    "South dakota": "SD", "Tennessee": "TN", "Texas": "TX", "Utah": "UT", "Vermont": "VT",
    "Virginia": "VA", "Washington": "WA", "West virginia": "WV", "Wisconsin": "WI", "Wyoming": "WY"
}

winning_party_indexed_filled['state'] = winning_party_indexed_filled['state'].str.lower().str.capitalize().map(us_state_to_abbrev)
state_political_leaning = winning_party_indexed_filled #naming to something will actually remember
state_political_leaning['year'] = state_political_leaning['year'].astype('int32')
state_political_leaning

    state  year       party
0      AL  2019  REPUBLICAN
1      AL  2020  REPUBLICAN
2      AL  2021  REPUBLICAN
3      AL  2022  REPUBLICAN
4      AK  2019  REPUBLICAN
..    ...   ...         ...
199    WI  2022  REPUBLICAN
200    WY  2019  REPUBLICAN
201    WY  2020  REPUBLICAN
202    WY  2021  REPUBLICAN
203    WY  2022  REPUBLICAN

[204 rows x 3 columns]

### Dataset #4 GDP by State

In [9]:
# Log onto the BEA website (Bureau of Economic Analysis), the official site for government data.
# Navigate to the "Data" section, select "GDP," and then choose "GDP by State."
# Go to "Interactive Data" and select "Interactive Tables: GDP by State."
# Choose "ANNUAL GROSS DOMESTIC PRODUCT (GDP) BY STATE," then "SAGDP2 GDP in current dollars."
# Select the United States, and view all statistics in the table.
# In the resulting table, select the first row's line code where the description is "all industry total."
# The resulting table displays the GDP by state in millions of current dollars, with data collected from 2017 to 2022.

url4 =  "Data/GDP by state (2017-2022).csv"

df4 = pd.read_csv(url4, skiprows = 3) #skip first 3 rows because they are a description
df4 = df4.drop(columns = ['GeoFips', '2017', '2018'])
df4 = df4.rename(columns= {'GeoName': 'state'})
df4_bad_GeoName = df4['state'].str.contains('District of Columbia|New England|nited States *|Mideast|Great Lakes|Plains|Southeast|Southwest|nan|Rocky Mountain|Far West').fillna(False) #dealing with NA values
df4 = df4[~ df4_bad_GeoName] #this removes all the regions and territories we don't care about 
indexes_to_drop = df4.iloc[-4:].index #get the last 4 rows index using iloc
df4 = df4.drop(indexes_to_drop)
melted_df = pd.melt(df4, id_vars=['state'], value_vars=['2019', '2020', '2021', '2022'], var_name='year', value_name='amount')
melted_df = melted_df.sort_values('state')
melted_df

#using the same code I used on the state leaning dat set we change the years to their postal codes

us_state_to_abbrev = {
    "Alabama": "AL", "Alaska": "AK", "Arizona": "AZ", "Arkansas": "AR", "California": "CA",
    "Colorado": "CO", "Connecticut": "CT", "Delaware": "DE", "Florida": "FL", "Georgia": "GA",
    "Hawaii": "HI", "Idaho": "ID", "Illinois": "IL", "Indiana": "IN", "Iowa": "IA",
    "Kansas": "KS", "Kentucky": "KY", "Louisiana": "LA", "Maine": "ME", "Maryland": "MD",
    "Massachusetts": "MA", "Michigan": "MI", "Minnesota": "MN", "Mississippi": "MS", "Missouri": "MO",
    "Montana": "MT", "Nebraska": "NE", "Nevada": "NV", "New Hampshire": "NH", "New Jersey": "NJ",
    "New Mexico": "NM", "New York": "NY", "North Carolina": "NC", "North Dakota": "ND", "Ohio": "OH",
    "Oklahoma": "OK", "Oregon": "OR", "Pennsylvania": "PA", "Rhode Island": "RI", "South Carolina": "SC",
    "South Dakota": "SD", "Tennessee": "TN", "Texas": "TX", "Utah": "UT", "Vermont": "VT",
    "Virginia": "VA", "Washington": "WA", "West Virginia": "WV", "Wisconsin": "WI", "Wyoming": "WY",
}

melted_df['state'] = melted_df['state'].map(us_state_to_abbrev)
gdp_by_state = melted_df.rename(columns = {'amount': 'GDP'})
gdp_by_state #naming to something we will remember
gdp_by_state['year'] = gdp_by_state['year'].astype(int) # change to integers
gdp_by_state

    state  year       GDP
0      AL  2019  234526.4
50     AL  2020  235118.3
150    AL  2022  281569.0
100    AL  2021  257986.5
151    AK  2022   65698.8
..    ...   ...       ...
48     WI  2019  347398.6
99     WY  2020   36675.5
49     WY  2019   39971.4
149    WY  2021   42176.2
199    WY  2022   49080.6

[200 rows x 3 columns]

### Merged Data Sets

In [11]:
#the data sets we have now are EMPG, disasters, state_political_leaning, & gdp_by_state 
#we have individually pre procesesed every data frame so that merging will be a smooth process
pd.set_option('display.max_rows', 10)
master_df = disasters.merge(EMPG)
master_df = master_df.merge(state_political_leaning)
master_df = master_df.merge(gdp_by_state)
master_df

    state  year  disasters  funding       party       GDP
0      AL  2019         36  5728503  REPUBLICAN  234526.4
1      AL  2020        257  5810021  REPUBLICAN  235118.3
2      AL  2021         30  7446681  REPUBLICAN  257986.5
3      AL  2022          2  6681181  REPUBLICAN  281569.0
4      AK  2019          9  3093229  REPUBLICAN   54469.9
..    ...   ...        ...      ...         ...       ...
195    WI  2022          0  7311711  REPUBLICAN  396209.3
196    WY  2019          0  2991828  REPUBLICAN   39971.4
197    WY  2020         51  3033266  REPUBLICAN   36675.5
198    WY  2021          0  3889834  REPUBLICAN   42176.2
199    WY  2022          0  3455841  REPUBLICAN   49080.6

[200 rows x 6 columns]

# Results

## Exploratory Data Analysis

##### Questions That Need Answering
- Question 1: Is there a correlation between the number of disasters and the amount of funding allocated?
    - Graph: A line or bar chart showing the number of disasters per state each year. This would visually illustrate trends and differences between states over the years.
- Question 2: Does the political party in each state affect disaster funding (table)
    - Table: A summary table showing average disaster funding by party and by state.
    - Graph: Box plots or bar charts comparing disaster funding in Republican vs. Democrat states.
- Question 3:How has the GDP of each state changed over the years, and is there any relationship with disaster occurrences or funding?
    - Graph: Line charts showing the GDP trend for each state across the years.
    - Graph: A scatter plot or a series of scatter plots showing GDP against number of disasters or funding.

#### Section 1 - Correlation between Num. of disasters and Funding Allocated

# Ethics & Privacy

- Thoughtful discussion of ethical concerns included
- Ethical concerns consider the whole data science process (question asked, data collected, data being used, the bias in data, analysis, post-analysis, etc.)
- How your group handled bias/ethical concerns clearly described

Acknowledge and address any ethics & privacy related issues of your question(s), proposed dataset(s), and/or analyses. Use the information provided in lecture to guide your group discussion and thinking. If you need further guidance, check out [Deon's Ethics Checklist](http://deon.drivendata.org/#data-science-ethics-checklist). In particular:

- Are there any biases/privacy/terms of use issues with the data you propsed?
- Are there potential biases in your dataset(s), in terms of who it composes, and how it was collected, that may be problematic in terms of it allowing for equitable analysis? (For example, does your data exclude particular populations, or is it likely to reflect particular human biases in a way that could be a problem?)
- How will you set out to detect these specific biases before, during, and after/when communicating your analysis?
- Are there any other issues related to your topic area, data, and/or analyses that are potentially problematic in terms of data privacy and equitable impact?
- How will you handle issues you identified?

# Team Expectations


Read over the [COGS108 Team Policies](https://github.com/COGS108/Projects/blob/master/COGS108_TeamPolicies.md) individually. Then, include your group’s expectations of one another for successful completion of your COGS108 project below. Discuss and agree on what all of your expectations are. Discuss how your team will communicate throughout the quarter and consider how you will communicate respectfully should conflicts arise. By including each member’s name above and by adding their name to the submission, you are indicating that you have read the COGS108 Team Policies, accept your team’s expectations below, and have every intention to fulfill them. These expectations are for your team’s use and benefit — they won’t be graded for their details.

* *Team Expectation 1*
* *Team Expectation 2*
* *Team Expecation 3*
* ...

# Project Timeline Proposal

Specify your team's specific project timeline. An example timeline has been provided. Changes the dates, times, names, and details to fit your group's plan.

If you think you will need any special resources or training outside what we have covered in COGS 108 to solve your problem, then your proposal should state these clearly. For example, if you have selected a problem that involves implementing multiple neural networks, please state this so we can make sure you know what you’re doing and so we can point you to resources you will need to implement your project. Note that you are not required to use outside methods.



| Meeting Date  | Meeting Time| Completed Before Meeting  | Discuss at Meeting |
|---|---|---|---|
| 1/20  |  1 PM | Read & Think about COGS 108 expectations; brainstorm topics/questions  | Determine best form of communication; Discuss and decide on final project topic; discuss hypothesis; begin background research | 
| 1/26  |  10 AM |  Do background research on topic | Discuss ideal dataset(s) and ethics; draft project proposal | 
| 2/1  | 10 AM  | Edit, finalize, and submit proposal; Search for datasets  | Discuss Wrangling and possible analytical approaches; Assign group members to lead each specific part   |
| 2/14  | 6 PM  | Import & Wrangle Data (Ant Man); EDA (Hulk) | Review/Edit wrangling/EDA; Discuss Analysis Plan   |
| 2/23  | 12 PM  | Finalize wrangling/EDA; Begin Analysis (Iron Man; Thor) | Discuss/edit Analysis; Complete project check-in |
| 3/13  | 12 PM  | Complete analysis; Draft results/conclusion/discussion (Wasp)| Discuss/edit full project |
| 3/20  | Before 11:59 PM  | NA | Turn in Final Project & Group Project Surveys |